:<section class="rounded-0 d-flex position-relative h-100 w-100">
  <div class="position-absolute h-100 w-100 left-0 top-0">
    <img 
    class="w-100" 
    src="{{ asset('cat-3431519__340.jpg') }}"
    alt="Faites le plein de gourmandises pour votre compagnon ! Croquettes, pâtées en boîte, friandises, aliments médicalisés, lait maternisé.... Retrouvez un large choix de produits pour une alimentation qui lui ressemble !" 
      />
  </div>
  <div class="container mt-auto my-lg-auto" style="z-index: 1;">
    <div class="row">
      <div class="col-12 py-5 px-1 text-center text-white">
        <div class="title font-family-primary-black">
          <h1 class="font-weight-bold text-uppercase">La nime'alerie</h1>
        </div>
        {# offset-x1-3 veux dire je fais une fois le offset-3 #}
        <div class="offset-x1-3">
          {# d-none sert a annuler le d-block uniquement sur son composant #}
          <p class="h5 d-none d-lg-block">
            Faites le plein de gourmandises pour votre compagnon ! Croquettes, pâtées en boîte, friandises, aliments
            médicalisés, lait maternisé.... Retrouvez un large choix de produits pour une alimentation qui lui ressemble
            !</p>
        </div>
      </div>
    </div>
  </div>
</section>
