{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<div>
 <p> Votre commande à été validée.</p>
 <a href='/'> Retourner à l'accueil </a>
</div>
{% endblock %}